@using WebBanHang.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<SanPham>
@{
    ViewBag.Title = "PhanLoaiSP";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebBanHang.Models.WebThuCungEntities db = new WebBanHang.Models.WebThuCungEntities();
}
@{
    IEnumerable<SanPham> chocanh = (IEnumerable<SanPham>)ViewBag.CC;
}


<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Shop</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Shop</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Shop Page  -->
<div class="shop-box-inner">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                <div class="right-product-box">
                    <div class="product-item-filter row">
                        <div class="col-12 col-sm-8 text-center text-sm-left">
                            <div class="toolbar-sorter-right">
                                <span>Sort by </span>
                                <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
                                    <option data-display="Select">Nothing</option>
                                    <option value="1">Popularity</option>
                                    <option value="2">High Price → High Price</option>
                                    <option value="3">Low Price → High Price</option>
                                    <option value="4">Best Selling</option>
                                </select>
                            </div>
                            <p>Showing all 4 results</p>
                        </div>
                        <div class="col-12 col-sm-4 text-center text-sm-right">
                            <ul class="nav nav-tabs ml-auto">
                                <li>
                                    <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="product-categorie-box">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                <div class="row">
                                    @Html.Partial("~/Views/SanPham/TrangSanPhamPartial.cshtml")
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="list-view">
                                @Html.Partial("~/Views/SanPham/TrangSanPhamPartial2.cshtml")
                            </div>
                        </div>
                    </div>
                </div>
                <span style="margin-top: 10px; color: mediumpurple; font-weight: bold; font-size: 20px">
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                </span>
                <div class="pagination">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                                <a class="page-link" href="@Url.Action("DmDog", new { page = Model.PageNumber - 1 })" tabindex="-1">&laquo;</a>
                            </li>

                            @for (int i = 1; i <= Model.PageCount; i++)
                            {
                                <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("DmDog", new { page = i })">@i <span class="sr-only">(current)</span></a>
                                </li>
                            }

                            <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                                <a class="page-link" href="@Url.Action("DmDog", new { page = Model.PageNumber + 1 })">&raquo;</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                <div class="product-categori">
                    <div class="search-product">
                        <form action="#">
                            <input class="form-control" placeholder="Search here..." type="text">
                            <button type="submit"> <i class="fa fa-search"></i> </button>
                        </form>
                    </div>
                    <div class="filter-sidebar-left">
                        <div class="title-left">
                            <h3>Categories</h3>
                        </div>
                        <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                            <div class="list-group-collapse sub-men">
                                @{
                                    // Lấy giá trị id từ query string
                                    //int id = Convert.ToInt32(Request.QueryString["idphanloai"]);

                                    // Sử dụng id trong câu truy vấn để lọc danh sách
                                    var tlboes = db.TLboes.ToList();
                                    var index = 0;
                                }

                                @foreach (var item in tlboes)
                                {
                                    var loaisp = db.TheLoais.Where(l => l.idTLbo == item.ID).ToList();
                                    if (loaisp != null)
                                    {
                                        <a class="list-group-item list-group-item-action" href="#sub-men1@(index)" data-toggle="collapse" aria-expanded="true" aria-controls="sub-men1@(index)">
                                            @item.TenTL <small class="text-muted">(@loaisp.Count())</small>
                                        </a>
                                        <div class="collapse show" id="sub-men1@(index)" data-parent="#list-group-men">
                                            @foreach (var sp in loaisp)
                                            {
                                                var slco = db.SanPhams.Where(l => l.IdLoaiSP == sp.ID).ToList();
                                                <div class="list-group">
                                                    <a href="~/SanPham/PhanLoaiSP?idphanloai=@sp.ID" class="list-group-item list-group-item-action">@sp.TenLoaiSP <small class="text-muted">(@slco.Count())</small></a>
                                                </div>
                                            }
                                        </div>
                                    }
                                    index++;
                                }
                            </div>
                          
                        </div>
                    </div>
                    <div class="filter-price-left">
                        <div class="title-left">
                            <h3>Price</h3>
                        </div>
                        <div class="price-box-slider">
                            <div id="slider-range"></div>
                            <p>
                                <input type="text" id="amount" readonly style="border:0; color:#fbb714; font-weight:bold;">
                                <button class="btn hvr-hover" type="submit">Filter</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Shop Page -->
<!-- Start Instagram Feed  -->
@*<div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-01.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-02.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-03.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-04.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-05.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-06.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-07.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-08.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-09.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-05.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!-- End Instagram Feed  -->

<style>
    .pagination {
        font-size: 18px;
        text-align: center;
        position: relative;
        left: 38%;
    }
</style>

@section scriptcss {
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
}