@*@model IEnumerable<WebBanHang.Models.SanPham>*@
@using WebBanHang.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<SanPham>

@{
    ViewBag.Title = "DanhSach";
    Layout = "~/Areas/Admin/Views/Shared/layoutAdmin.cshtml";
}

<h2>DanhSach</h2>

<p>
    <a href="~/Admin/SanPham/ThemMoi" class="btn btn-primary">Thêm Mới</a>
</p>
<table class="table">
    <tr>
        <th>
            Tên Sản Phẩm
        </th>
        <th>
            Giá Bán
        </th>
        <th>
            Giá Cũ
        </th>
        <th>
            Thuộc Tính
        </th>
        <th>
            Số Lượng Tồn
        </th>
        <th>
            Số Lượng Bán
        </th>
        <th>
            Số Lượt Đánh Giá
        </th>
        <th>
            Ảnh 1
        </th>
        <th>
            Ảnh 2
        </th>
        <th>
            Ảnh 3
        </th>
        <th>
            Mô Tả
        </th>
        <th>
            Loại Sản Phẩm
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaCu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.New_Hot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuotDanhGia)
            </td>
            <td>
                <img width="150" height="150" src="@item.Image1" />
            </td>
            <td>
                <img width="150" height="150" src="@item.Image2" />
            </td>
            <td>
                <img width="150" height="150" src="@item.Image3" />
            </td>

            <td>
                @Html.Raw(item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheLoai.TenLoaiSP)
            </td>
            <td>
                @Html.ActionLink("Sửa", "CapNhat", new { id = item.ID }) |
                @Html.ActionLink("Xóa", "Xoa", new { id = item.ID })
            </td>
        </tr>
    }

</table>
@* tao lien ket cac trang *@
<span style="margin-top: 10px; color: mediumpurple; font-weight: bold; font-size: 20px">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
</span>
<div class="pagination">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("DanhSach", new { page = Model.PageNumber - 1 })" tabindex="-1">&laquo;</a>
            </li>

            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                    <a class="page-link" href="@Url.Action("DanhSach", new { page = i })">@i <span class="sr-only">(current)</span></a>
                </li>
            }

            <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("DanhSach", new { page = Model.PageNumber + 1 })">&raquo;</a>
            </li>
        </ul>
    </nav>
</div>
@* end tao lien ket cac trang *@

<style>
    .pagination {
        font-size: 18px;
        text-align: center;
        position: relative;
        left: 38%;
    }

</style>
@section scriptcss {
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
}
